header{
    width: 100%;
}
.header-content{
    display: flex;
    align-items: center; // Alinhamebto vertical dos itens
    justify-content: space-between;
}

i{
    color: $white-normal;
}

.header-icons{
    display: flex;
    gap: 14px;
}

.header-icons a:hover{
    i{
        animation: translateY 0.8s infinite alternate; // Colocando a animação criada com o tempo de diração
        color: $red-ligth;
    }
}

// Criando animação
@keyframes translateY {
    from{ // Começo da animação
                // Posissão      Escala
        transform: translateY(0) scale(1);
    }
    to{ // Final da animação
        transform: translateY(-8px) scale(1.1);
    }
}

.header-button{
    border: 1px solid $white-normal;
    padding: 8px 24px;
    border-radius: 4px;
    color:  $white-normal;
    background-color: transparent;
    transition: background-color 0.8s;
}

.header-button:hover{
    border: 1px solid $red-ligth;
    background-color: $red-ligth;
}

.header-logo{
    display: flex;
    align-items: center; // Ailnhamento vertical
    justify-content: center; // Alinhamento horizontal
    margin-top: 14px;
}


// Responsividade
@media screen and (max-width: 768px) {
    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i{
            margin-top: 16px;
            font-size: 34px;
        }
    }

    .header-logo img{
        width: 160px;
        margin-top: 46px;
    }

    .header-button{
        display: none;
    }
}